.container {
    height: 80vh;
}

.scrolledBlock {
    background-color: rgb(255, 196, 239);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.height {
    height: 10000px;
}
